body {
    height: 100vh;
}
.container {
    text-align: center;
}
.arrowContainer {
    padding: 40px;
}
.progress-bar {
    -webkit-transition: none !important;
    transition: none !important;
}
.btn {
    width: 100%;
}
#timer {
    font-size: 3em;
}
#seconds, #tens {
    font-family: 'Courier New', Courier, monospace;
}
/* Set the maximum width of the arrow image to 200px on desktop */
@media (min-width: 768px) {
    #arrow {
      max-width: 600px;
    }
  }
  
  /* Set the maximum width of the arrow image to 100% on mobile */
  @media (max-width: 767px) {
    #arrow {
      max-width: 100%;
    }
  }  