@media (min-width: 768px) {
    #arrow {
        max-width: 600px;
    }
}
@media (max-width: 767px) {
    #arrow {
        max-width: 100%;
    }
}
body {
    height: 100vh;
}
.container {
    padding: 5px;
    text-align: center;
}
.arrowContainer {
    padding: 10px;
}
.progress-bar {
    -webkit-transition: none !important;
    transition: none !important;
}
#timer {
    font-size: 3em;
}
#seconds, #tens {
    font-family: 'Courier New', Courier, monospace;
}